.title{
    z-index: 10;
    font-family: 'Helvetica Neue';
    font-size: 24px;
    text-transform: uppercase;
}

section {
    position: relative;
  }
  
  section img {
    position: absolute;
  }


  .top {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
    animation-duration: 3s;
    animation-direction: alternate; 
  }
  
  .last {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
    animation-duration: 3s;
    animation-direction: alternate;
  }

  .final {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
    animation-duration: 3s;
    animation-direction: alternate;
  }

  @keyframes fade {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

