body {
	font-family: serif;
	font-size:20px;
	background-color: #eaeaea;
    color: #0c250c;
}

h1, h2 {
	font-weight:normal;
	text-align:center;
}



#grid {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));
	grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));

}



.Manhattan{
	/* display: block; */
	grid-column: span 1;
	grid-row: span 1;
	width: fit-content;
	height: fit-content;
background-color: grey;
  } 

  /* .Manhattan:hover {
	background-color: rebeccapurple;
  } */


  .Bronx{
	display: block;
	grid-column: span 1;
	width: fit-content;
	height: fit-content;
	background-color: darkgrey;
  }

  .Queens{
	display: block;
	grid-column: span 1;
	width: fit-content;
	height: fit-content;
	background-color: darkgrey;
  } 

  .Brooklyn{
	display: block;
	grid-column: span 1;
	width: fit-content;
	height: fit-content;
	background-color: darkgrey;
  } 

