body {
	font-family: serif;
	font-size:20px;
	background-color: #eaeaea;
    color: #0c250c;
}

h1, h2 {
	font-weight:normal;
	text-align:center;
}



.actual-grid {
	display: grid;
    grid-template-columns: repeat(3 , 1fr);
	

}

.Manhattan{

	width: fit-content;
	height: fit-content;
background-color: grey;
  } 

  /* .Manhattan:hover {
	background-color: rebeccapurple;
  } */


  .Bronx{
	width: fit-content;
	height: fit-content;
	background-color: darkgrey;
  }

  .Queens{
	width: fit-content;
	height: fit-content;
	background-color: darkgrey;
  } 

  .Brooklyn{
	width: fit-content;
	height: fit-content;
	background-color: darkgrey;
  } 

  .StatenIsland{
	width: fit-content;
	height: fit-content;
	background-color: black;
  }

  .data-point {
	visibility: hidden;
  }

  .data-container:hover > .data-point {
	visibility: visible;
  }
