body {
	font-family: serif;
	font-size:20px;
	background-color: #eaeaea;
    color: #0c250c;
}

h1, h2 {
	font-weight:normal;
	text-align:center;
}

#grid {
  display: grid; 
  grid-template-columns: (35, 1 fr);
  grid-template-rows: (35, 1 fr);
}

.Manhattan{
	grid-column-start: 3;
	grid-column-end: 7;
	grid-row-start: 1;
	grid-row-end: 35;
  } 

  /* .Manhattan:hover {
	background-color: rebeccapurple;
  } */

  .Manhattan{
	background-color: grey;
  }

  .Bronx{
	grid-column-start: 6;
	grid-column-end: 27;
	grid-row-start: 1;
	grid-row-end: 10;
  } 

  .Bronx{
	background-color: darkgrey;
  }

  .Queens{
	grid-column-start: 9;
	grid-column-end: 26;
	grid-row-start: 3;
	grid-row-end: 35;
  } 

  .Brooklyn{
	grid-column-start: 6;
	grid-column-end: 27;
	grid-row-start: 8;
	grid-row-end: 31;
  } 

.empty {
	background-color:#e1e1e1;
}

.dark {
	background-color:#171717;
}

.meduim {
	background-color:#464545;
}

.light {
	background-color:#b6b6b6;
}
